*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

 #padding{
     padding-top:100px;
 }
 #banner{
     width: 70%;
     height: 91%;
 }
 #row{
     background-color: royalblue;
 }
 #shado{
     box-shadow: solid 2px black;
 }
 #card:hover{
     transform: scale(1.1);
     
    }
 #card-img1{
     background-color: rgb(238, 18, 55);
 }
 #zafar{
     width: 50px;
     height: 50px;
     border-radius: 40rem ;
   background-color: red;
 }
 #card-img2{
    background-color: rgb(102, 18, 238);
}
#card-img3{
    background-color: rgb(238, 18, 18);
}
#card-img4{
    background-color: pink;
}
#card-img5{
    background-color: rgb(16, 17, 16);
}
#card-img6{
    background-color: rgb(238, 238, 16);
}
#card-img7{
    background-color: rgb(238, 16, 16);
}
#card-img8{
    background-color: rgb(16, 238, 90);
}
#card-img9{
    background-color: rgb(49, 16, 238);
}
#card-img10{
    background-color: rgb(16, 175, 238);
}
#card-img11{
    background-color: rgb(238, 16, 53);
}
#card-img12{
    background-color: rgb(173, 78, 236);
}
#card-img13{
    background-color: rgb(16, 205, 238);
}
#card-img14{
    background-color: rgb(16, 238, 201);
}
#card-img15{
    background-color: rgb(3, 243, 83);
}
#card-img16{
    background-color: rgb(202, 236, 78);
}
#card-img17{
    background-color: rgb(238, 16, 16);
}
#card-img18{
    background-color: rgb(16, 238, 164);
}
#bgcolor{
    background-color:rgb(0, 102, 255) ;
    height: 30vh;
   
}
#bgcolor1{
    background-color:rgb(255, 238, 0) ;
    height: 2vh;
   
}
#footer1{
    background-color: rgba(0, 0, 0, 0.507);
}
#icon{
    letter-spacing: 10px;
}
#icon1{
    border-radius: 30rem;
    box-shadow: black 2px soild;
}
#icon1:hover{
  color: orangered;
}
#footer2{
    background-color: black;
}
#contact{
    background-color: cornflowerblue;
}
#logo{
    width: 60px;
    height: 60px;
    border-radius: 50rem 50rem 50rem 50rem;
}
#toggle-button{
    border-radius: 30rem 30rem 30rem 30rem;
}
#about{
    width: 100%;
    height: 60vh;
}
#gallery{
    width: 100%;
    height: 100%;
}